*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    width: 100vw;
    height: 100vh;
    gap: 20px
    ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header{
    width: 90vw;
    display: flex;
    justify-content: space-between;
}
.addEmployeeBtn{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(224, 224, 224);
    cursor: pointer;
}
.addEmployeeBtn:hover{
    background-color: rgb(209, 208, 208);
}
.main{
    width: 90vw;
    height: 70vh;
    display: flex;
    border: 1px solid black;
}
.employeeListSection{
    border: 1px solid rgb(0, 0, 0);
    width: 40%;
    overflow-y: scroll;
}
.EmployeeListTitle{
    text-align: center;
    border-bottom: 1px solid black;
    font-size: 25px;
    margin: 10px;

}
.list{
    background-color: rgb(224, 221, 221);
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}
.list:hover{
    background-color:rgb(206, 204, 204) ;
}
.employeeInfoSection{
    border: 1px solid rgb(0, 0, 0);
    width: 60%;
    overflow-y: scroll;
}
.employeeInfoTitle{
    text-align: center;
    border-bottom: 1px solid black;
    font-size: 25px;
    margin: 10px;
}
.employeeInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.employeeInfo img{
    width: 150px;
    border-radius: 50%;
}
.details{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 8%;
}
.formContainer{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.274);
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}
.addEmployeeForm{
    width: 40%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
}
.formHeader{
    display: flex;
    justify-content: space-between;
}
.formHeader>span{
    background-color: rgb(245, 242, 242);
    width: 5%;
    height: 5%;
    text-align: center;
    padding: 2px;
    border-radius: 4px; 
    cursor: pointer;  
}
.formHeader>span:hover{
background-color: rgb(230, 228, 228);
}
.name{
    display: flex;
    justify-content: space-between;
}
.name>input{
    width: 48%;
}
input{
    padding: 10px;
    border-radius: 5px;
    border: 0.5px solid rgb(209, 209, 209);
    background-color: rgb(236, 235, 235);
    transition:0.1s ease-in-out;
}
input:hover{
    background-color: rgb(221, 218, 218);
}
.submitBtn{
    background-color: rgb(168, 167, 167);
    cursor: pointer;
}
